/* Estilos generales para el Navbar */
.navbar {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logout-button {
  background-color: red;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 0.25rem;
  margin-left: auto; /* Asegura que el botón esté a la derecha */
}

.logout-button:hover {
  background-color: darkred;
}
